#splash-slide {
	display: block;
}

.a-slides_slide-content {
	background-color: white;
    display: flex;
	flex-wrap: wrap;
    font-size: 2em;
    font-weight: 900;
    font-family: Lato;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
	background-size: cover;
}

.a-slides_slide-content.dark {
	background-color: darkslategray;
	background-blend-mode: soft-light;
	color: white;
}

.a-slides_slide-content p {
	display: flex;
	flex-grow: 1;
}

.a-slides_slide-content img,
.a-slides_slide-content video {
	object-fit: contain;
	flex-grow: 1;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}